// main: main.less

.block {
  width: 80%;
  max-width: 1144px;
  margin: 0 auto;
  .max(48em, {width: 95%;});
}

#top_nav {
    position: fixed;
    top: 0; right: 0;left: 0;
    z-index: 999;
    padding: 1em 0;
    color: @darkgray;
    
    .max(48em, {
        font-size: 0.6em;
    });
    
    .logo {
        font-family: @logo;
        font-size: 1.6em;
        letter-spacing: 0.02em;
        text-transform: uppercase;

         span {
            position: relative;
        }
    }
    
    &.bg-head {
      .logo {
          opacity: 0; 
        }
    } 
    
    a {
        color: @darkgray;
        text-decoration: none;
        font-size: 1.5em;
    }
    
    #switch_top {
        .upper(1.5em);
        font-family: @mono;
    }    
    
    &.bg-light{
            color: @darkgray;
            span {
                color: @darkgray;
            } 
        }
    &.bg-dark, 
    &.bg-head   { 
            color: @white;
            span {
                color: @white;
            } 
        }  
}


.header-container {
    width: 100%;
    height: 100vh;
    position: relative;
    .bgc;
    background-position: 20% 0;
    background-size: contain;
    background-image: url(pic/title_blub.png);
   
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    
    color: #222;
    color: #fff;
    
    .full_bg {
        position: relative;
        z-index: 2;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 20vh;
           
        .logo {
            .upper(2em);
            font-family: @logo;
            font-size: 4em;
            letter-spacing: 0.3em;
            text-transform: uppercase;  
        }
        
         .description {
            font-size: 1.5em;
         }
    } 

    
    &:before {
        content: ' ';
        position: absolute;
        width: 100%;
        height: 80vh;
        right: 0;
        top: 0;
        z-index: 3;
        .bgc;
        background-position: 100% 0;
        background-size: contain;
        background-image: url(pic/bhand.png);
    }
    
    .lkly {
      position: absolute;
      bottom: 0;right: 0;left: 0;
      padding: 1em 0;
      text-align: center;
      z-index: 3;
    }

    .max(48em, {
         &:before { 
            position: relative;
            background-position: 0 0;
            background-size: 100% 100%;
            background-image: url(pic/title_blub_m.png);  
        }


    align-content: space-between; 
    height: 100vh;
    background-image: url(''); 

        .full_bg {
           // margin-bottom: 10vh;
            width: 90%;
            .logo { 
               // font-size: 3em;
                .upper(2em); 
                color: #222;
            }
            .description {
                font-size: 1em;
                color: #222;
            };
        }
     });
}


.main-container {
    width: 100%;
    position: relative;

    .bgimg {
        position: absolute;
        top: 0;right: 0;left: 0;bottom: 0;
        z-index: 1;

        display: flex;
        align-items: center;
        justify-content: stretch;

        img {
            width: 100%;
            max-height: 100vh;
        }

        &::before {
            content: ' ';
            position: absolute;
            top: 0;bottom: 0;right: 0;left: 0;
            z-index: 3;
            .bgc;
            background-position: 50% 0;
            background-size: 40vh;
            background-image: url(pic/forest.png);
        }

        .max(48em, {
            &::before {
               background-size: auto 72vw; 
            }
            img {
                width: auto;
                max-height: 150vh;  
            }
        });
    }



    .first_textblock {
        padding: 35vh 0 10vh;  
        position: relative;
        z-index: 2;

        & block {
            z-index: 2;
        }
       
        .first_textblock-title {
            font-size: 5.33em;
            font-family: @serif;
            line-height: 1;
            position: relative;
            z-index: 2;
        }
        .first_textblock-discr {
            font-family: @serif;
            font-size: 1.5em;
            line-height: 1.2;
            margin-top: 1.2em;
            z-index: 2;
        }

        .max(48em, {
            .first_textblock-title {
                font-size: 3em;
            }
        });
    }

    .cycle_textblock {
        min-height: 100vh;
        width: 100%;
        background-image: url(pic/ciclebg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;

        &:before{
            content: '';
            position: absolute;
            top: 0;bottom: 0;right: 0;left: 0;
            background-image: url(pic/jcycle.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;

        .cycle_textblock-dcs {
            width: 40%;
            font-family: @serif;
            font-size: 1.5em;
            line-height: 1.2;
            margin-top: 1.2em;
        }

        
        .max(48em, {
            min-height: 40vh;
            background-size: cover;
            flex-wrap: wrap;

            &:before{ 
                z-index: 1;
                // opacity: 0.6;
                position: relative;
                width: 100%;
                height: 75vw;
                background-size: cover;

                display: flex;
                align-items: center;
                justify-content: center;
                font-family: @sans;
                font-size: 1.5em;
                content: 'Life cycle';
            }

            .cycle_textblock-dcs {
                font-size: 24px;
                width: 100%;
            }
        });


    }

    .sec_textblock {
        padding: 20vh 0;  

        .sec_textblock-title {
            font-size: 5.33em;
            font-family: @serif;
            line-height: 1;  
            position: relative;
            z-index: 3;
        }
        .sec_textblock-bgc {
            position: relative;
            min-height: 20vh;
            img {
                display: block;
                width: 100%;
                position: absolute;
                right: 0;left: 0; top: -15vh;
                z-index: 1;                
            }
        } 

        .sec_textblock-discr {
            font-family: @serif;
            font-size: 1.5em;
            line-height: 1.2;
            margin-top: 1.2em;
            background-color: #fff;
            padding: 1em;
            border-radius: 1em;
            position: relative;
            z-index: 3;
        }

    .max(48em, {
        .sec_textblock-title { 
            font-size: 3em;
            position: relative;
            z-index: 3;
            line-height: 1.32;
            span {
                background-color: rgba(255,255,255,.7);
            }
        }
        .sec_textblock-bgc {
            img {
              z-index: 1;
            }
        }  
        .sec_textblock-discr  {
            font-size: 24px;
            background-color: rgba(255,255,255,.0);
            padding: 0.2em;
        } 
    });
}

    
  
    .contacts {
        position: relative;
        min-height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;

        @background: #005;
        @primary: #ffbe76;
        @secondary: #f6e58d;
        @third: #badc58;

        &:before{
            content: '';
            position: absolute;
            top: -3em;bottom: -3em;
            right: -3em;left: -3em;

            background-color: #93D283;
            border-radius: 70% 30% 30% 69% / 60% 48% 60% 40%;
            z-index: 1;

            background: linear-gradient(45deg, @primary 0%, @secondary 100%);
            animation: morph 8s ease-in-out infinite;
            transition: all 1s ease-in-out;
        }

    .team-title {
        position: relative;
        z-index: 2;
        font-size: 5.33em;
        font-family: @serif;
        line-height: 1;

        .max(48em, {
            font-size: 3em;
        });
    }
    
    
    @keyframes morph {
        0% {
          border-radius: 70% 30% 30% 69% / 60% 48% 60% 40%;
        }
        50% {
          border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
        }
        100% {
          border-radius: 70% 30% 30% 69% / 60% 48% 60% 40%;
        }
      }
 }


    .card {
        padding: 2em;
        .max(48em, {
            padding: 10px;
        });
        &_pic {
            width: 100%;
            padding-top:100%;
            position: relative;
           
            .card_bg {
                position: absolute;
                top: 0;bottom: 0;right: 0;left: 0;
                background-color: @gray;              
                overflow: hidden;
                
                &::before {
                    content: ' ';
                    position: absolute;
                    top: 0;bottom: 0;right: 0;left: 0;
                    .bgc;     
                }
                &.k {
                    &::before {
                      background-image: url('pic/k.jpeg');  
                    }
                }                
                &.n {
                    &::before {
                      background-image: url('pic/n.jpeg');  
                    }
                }            
                &.o {
                    &::before {
                      background-image: url('pic/o.jpeg');  
                    }
                }            
                &.a {
                    &::before {
                      background-image: url('pic/a.jpeg');  
                    }
                }  
            }
        } 
        
        &_name {
            padding: 1em 0;

            .card_title {
                font-weight: bold;
                font-size: 1.2em;
                padding-bottom: 0.3em;
                color: #000;
            } 
            .card_job {
                font-weight: normal;
                color: #222;
                font-size: 0.8em;
            } 
            .card_decr {color:@darkgray;} 
            
            .card_link {
                display: inline-block;
                a {
                    text-decoration: none;
                    display: inline-block;
                    margin: 0 0.3em;
                }
            }
        } 
    }

    .social_block {
        padding: 10vh 0;
        position: relative;
        color: #2d3436;
        &:before{
         content: '';
            position: absolute;
            top: -3em;bottom: -3em;right: -3em;left: -3em;
            background-image: url(pic/BlueFlower1.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          //  background-color: #93D283;
          //  border-radius: 70% 30% 30% 69% / 60% 48% 60% 40%;
            z-index: -1;
            transform: rotate(0.11turn);
            opacity: 0.5;
        }

        .joinus {
            font-size: 2em;
            font-family: @serif;
            line-height: 1; 
            position: relative;
            
            
           &:before {
                position: absolute;
                top: -100%;
                left: 80%;
                width: 30px;
                height: 30px;
                content: ' ';
                background-image: url(pic/bee.svg);
                background-size: 30px 30px;
                background-position: right top;
                background-repeat: no-repeat;
            }
        } 
        .social {
            padding: 2em 0;
            a {
                text-decoration: none;
                font-size: 4em;
                padding: 0.2em;
                color: #2d3436;
            }
        }
    }

    .wall {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: space-around;
        background-color: @gray; 
        height: 100%;  
        position: relative;
        padding: 10%; 
         
          &.press {
              background-color: @lightgray;
          }  
          
          .prt {
           padding: 1em;
           margin:2em 0 ;   
           text-align: center;
           max-width: 20%; 
        .max(440px, {
            max-width: 50%; 
        });      
              a {
                  text-decoration: none;
                  color: @darkgray;
                  
                  span {
                     display: block;
                      font-size: 1.3em;
                      font-weight: bold;
                  }
              }       
          }  
          
      }

}

.gallery_bg {
    background-color: #2d3436;
    padding: 20vh 0;
    margin: 10vh 0;
}

.gallery {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    

    .item {
        display: block;
        border-radius: 10px;
        background: rgba(246, 229, 141,0.3);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        height: 30vh;
        margin: 4px 0;
        text-decoration: none;
        overflow: hidden;

        position: relative;

        &:nth-child(8n+4) {
            width: 28%;
        }        
        &:nth-child(8n+5) {
            width: 20%;
        }        
        &:nth-child(8n+6) {
            width: 30%;
        } 
        &:nth-child(8n+7) {
            width: 20%;
        }  

        &:nth-child(8n+8) {
            width: 31%;
        }        
        &:nth-child(8n+9) {
            width: 20%;
        }        
        &:nth-child(8n+10) {
            width: 25%;
        }        
        &:nth-child(8n+11) {
            width: 22%;
        }

        &:nth-child(1) {
            width: 38%;
            height: 40vh;
        }        
        &:nth-child(2) {
            width: 15%;
            height: 40vh;
        }         
        &:nth-child(3) {
            width: 45%;
            height: 40vh;
        }         
        // &:nth-child(4) {
        //     width: 23%;
        // } 

        &::before {
            content: ' ';
            position: absolute;
            top: 0;bottom: 0;right: 0;left: 0;
            background: rgba(246, 229, 141,0.3);
            background: rgba(0, 184, 148,.2);
            z-index: 2;
            transition: all 0.5s;
        }

        &:hover::before {
            background-color: rgba(0, 0, 0, .2);
        }

        &.video {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

           &::after {
                content: "\e909";
                font-family: 'icomoon' !important;
               // speak: never;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;

                transition: all 0.5s;
                font-size: 2em;
                color: #fff;
                z-index: 9;
           } 
           &:hover::after {
            font-size: 3.2em;
           }
          }
        } 

    }



